# Godot 4+ specific ignores
.godot/
/android/
/LICENSE
/.editorconfig
/.vs/dbdlike/CopilotIndices
/.vs/dbdlike/DesignTimeBuild
/.vs/dbdlike/FileContentIndex
/.vs/dbdlike/v17
/.vs/ProjectEvaluation
/addons/ridiculous_coding
/LICENSE.md
